/* Applica le direttive fra le graffe su viewport da 1200px+ */
@media screen and (min-width: 1200px) {
    div.box > div.elem {
        color: greenyellow;
    }
}
/* Applica le direttive fra le graffe su viewport compresi fra 800px e 1199px */
@media screen and (max-width: 1199px) and (min-width: 800px) {
    div.box > div.elem {
        color: orange;
    }
}
/* Applica le direttive fra le graffe su viewport 800px- */
@media screen and (max-width: 800px) {
    div.box > div.elem {
        color: red;
    }
}